*{
    box-sizing: border-box;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    
}

table, th {
    border: 1px solid black;
    height: 35px;
    width: 35px;
}

table input {
    height: 35px;
    width: 153px;
    padding: 0px;
}

.nrmlbtn {
    height: 35px;
    width: 36px;
    padding: 0px;
}

#field {
    border : none;
    padding : 0px;
    margin : 0px;
    text-align: right;
}

#display {
    border : none;
    padding : 0px;
    margin : 0px;
    text-align: right;
    font-weight: 400;
    font-size: 13.3333px;
    font-family: Arial;
}

#pastresult {
    border : none;
    padding : 0px;
    margin : 0px;
    text-align: left;
    font-weight: 400;
    font-size: 13.3333px;
    font-family: Arial;
}

