*{
    box-sizing: border-box;
}

table {  
    border: 1px solid black;
    border-radius: 5px;
}

table.center {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

table input {
    height: 35px;
    width: 153px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 2.5px;
}

table th {
    padding: 0px;
}

.nrmlbtn {
    height: 35px;
    width: 36px;
    padding: 0px;    
}

#field, #display {
    height: 12px;
    padding : 0px;
    margin : 0px;
    max-width: 149px;
    font-weight: 400;
    font-size: 10px;
    font-family: Arial;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-end;
    white-space: nowrap;
    margin-left: 1px;
    text-align: right;
}

#field::-webkit-scrollbar {
    display:none;
}

#display::-webkit-scrollbar {
    display:none;
}

#field {
    font-size: 23px;
    height: 28px;
}


#pastresult {
    border : none;
    padding : 0px;
    margin : 0px;
    text-align: center;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 13.3333px;
    font-family: Arial;
}

